@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}
.container{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

/* table style */
table{
  border-radius: 1em;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
   table caption{
     text-align: left;
     margin-bottom:10px;
   }
    th {
      color:#000;
      background: #CEDA0B;
      font-size:20px;
      font-weight: bold;
      padding:10px;
      text-align:left;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      vertical-align:middle;
      height: 50px;
      border-right: 1px solid #666B85;
    }
    th:last-child{
      border-right: none;
    }
    tr {
      columns: #000000;;
      font-size:16px;
      font-weight:normal;
      text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
      border-bottom: 1px solid #666B85;
    }
    tr:last-child{
      border-bottom: none;
    }
    td {
      position: relative;
      background:#ffffff;
      padding:20px;
      text-align:left;
      vertical-align:middle;
      font-weight:300;
      font-size:18px;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
      border-right: 1px solid #666B85;
    }
    td:nth-child(1){
        width: 100px;
    }
    td:nth-child(2),td:nth-child(3){
        width: 150px;
    }
    td:nth-child(4){
        width: 200px;

    }
    td:last-child{
        width: 100px;
        border-right: none;
    }
    input{
    width: 40%;
    height: 10%;
    border-radius: 05px;
    padding: 8px 15px 8px 15px;
    margin: 10px 0px 15px 0px;
    box-shadow: 1px 1px 2px 1px grey;
  }
